In [1]:
import numpy as np
import pandas as pd

In [2]:
prices = pd.read_pickle("parsed_data/prices")

In [3]:
Tickers = prices.reset_index().set_index(["Ticker"]).index

In [4]:
Tickers = np.unique(Tickers)

In [6]:
Date = np.unique(prices.reset_index().set_index(["Date"]).index)

In [7]:
prices = prices.reset_index().set_index(["Ticker", "Date"])

In [9]:
to_append = np.array([])
for i in Tickers:
    thing = ( ( prices.loc[i]["Close"].shift(-40) - prices.loc[i]['Close'] ) /  prices.loc[i]['Close'] ) * 100
    to_append = np.append(to_append, thing)

In [10]:
prices["return_40"] = to_append

In [28]:
to_append = np.array([])
for i in Tickers:
    thing = ( ( prices.loc[i]["Close"].shift(-20) - prices.loc[i]['Close'] ) /  prices.loc[i]['Close'] ) * 100
    to_append = np.append(to_append, thing)

In [29]:
prices["return_20"] = to_append

In [30]:
to_append = np.array([])
for i in Tickers:
    thing = ( ( prices.loc[i]["Close"].shift(-10) - prices.loc[i]['Close'] ) /  prices.loc[i]['Close'] ) * 100
    to_append = np.append(to_append, thing)

In [31]:
prices["return_10"] = to_append

In [32]:
to_append = np.array([])
for i in Tickers:
    thing = ( ( prices.loc[i]["Close"].shift(-5) - prices.loc[i]['Close'] ) /  prices.loc[i]['Close'] ) * 100
    to_append = np.append(to_append, thing)

In [33]:
prices["return_5"] = to_append

In [34]:
to_append = np.array([])
for i in Tickers:
    thing = ( ( prices.loc[i]["Close"].shift(-80) - prices.loc[i]['Close'] ) /  prices.loc[i]['Close'] ) * 100
    to_append = np.append(to_append, thing)

In [35]:
prices["return_80"] = to_append

In [14]:
prices

                   SimFinId   Open    Low   High  Close  Adj. Close  Dividend  \
Ticker Date
A      2011-05-20     45846  51.15  50.43  51.21  50.70       33.50       NaN
       2011-05-23     45846  49.81  48.50  49.81  49.10       32.44       NaN
       2011-05-24     45846  49.24  48.39  49.24  48.69       32.17       NaN
       2011-05-25     45846  48.26  48.13  49.32  49.02       32.39       NaN
       2011-05-26     45846  48.72  48.62  49.60  49.39       32.63       NaN
...                     ...    ...    ...    ...    ...         ...       ...
ZYNE   2021-09-13    901704   4.47   4.29   4.55   4.45        4.45       NaN
       2021-09-14    901704   4.45   4.27   4.47   4.31        4.31       NaN
       2021-09-15    901704   4.34   4.29   4.40   4.35        4.35       NaN
       2021-09-16    901704   4.34   4.25   4.35   4.32        4.32       NaN
       2021-09-17    901704   4.29   4.07   4.38   4.23        4.23       NaN

                    Volume  Shares Outstanding  daily_return  return_40
Ticker Date
A      2011-05-20  3350800         348045143.0           NaN  -7.416174
       2011-05-23  4265800         348045143.0     -3.155819  -4.439919
       2011-05-24  3437200         348045143.0     -0.835031  -3.635243
       2011-05-25  3736200         348045143.0      0.677757  -4.345165
       2011-05-26  3268500         348045143.0      0.754794  -6.053857
...                    ...                 ...           ...        ...
ZYNE   2021-09-13  1638339          41251537.0     -0.447427        NaN
       2021-09-14   423426          41251537.0     -3.146067        NaN
       2021-09-15   254110          41251537.0      0.928074        NaN
       2021-09-16   317393          41251537.0     -0.689655        NaN
       2021-09-17  2906024          41251537.0     -2.083333        NaN

[4576018 rows x 11 columns]

In [18]:
Tickers[]

array(['A', 'AA', 'AAL', ..., 'ZUO', 'ZVO', 'ZYNE'], dtype=object)

In [22]:
num = 637
ticker_test = Tickers[35]
print((prices.loc[ticker_test, "Close"].iloc[num + 40] - prices.loc[ticker_test, "Close"].iloc[num])/ prices.loc[ticker_test, "Close"].iloc[num]* 100), print(prices.loc[ticker_test, "return_40"].iloc[num])

15.088757396449711
15.088757396449711

(None, None)

In [23]:
prices.to_pickle("parsed_data/prices")

In [84]:
len(to_append)

4576018

In [24]:
prices = prices.reset_index().set_index(["Date", "Ticker"]).loc[Date]

In [25]:
def make_class_binary(col_name, features_date_indexed, Date_array, percentage_cutoff):
    
    to_append = np.array([])
    
    for Date1 in Date_array:
        
        the_column = features_date_indexed.loc[Date1, col_name].copy()
        
        if np.sum(the_column.isna()) / len(the_column) > 0.4:
            
            to_append = np.append(to_append, [np.nan] * len(the_column))
            
        else:
        
            cutoff = np.nanpercentile(the_column, percentage_cutoff)

            def map_func(x):
                if x >= cutoff:
                    return 0
                elif x < cutoff:
                    return 1
                else:
                    return np.nan
                
            binaries = the_column.map(map_func, na_action = "ignore")
            
            to_append = np.append(to_append, binaries)
            
    return to_append

In [26]:
result = make_class_binary("return_40", prices, Date, 95)
prices["Class_binary_40_20"] = result

In [ ]:
result = make_class_binary("return_20", prices, Date, 95)
prices["Class_binary_20_20"] = result

result = make_class_binary("return_10", prices, Date, 95)
prices["Class_binary_10_20"] = result

result = make_class_binary("return_5", prices, Date, 95)
prices["Class_binary_5_20"] = result

result = make_class_binary("return_80", prices, Date, 95)
prices["Class_binary_80_20"] = result

In [36]:
test_date = 1567
np.sum(prices.loc[Date[test_date],"Class_binary_40_20"] == 0) / len(prices.loc[Date[test_date],"Class_binary_40_20"]) * 100

5.010548523206751

In [37]:
features1 = pd.read_pickle("training_sets/features1")

features1 = features1.reset_index().set_index(["Date"])

features1 = features1.loc[np.unique(features1.index)].reset_index().set_index(["Date", "Ticker"])

Date1 = np.load("training_sets/Date1.npy", allow_pickle = True)
print(np.sum(Date1 != np.unique(features1.reset_index().set_index(["Date"]).index)))

In [ ]:
features1["Class_binary_40_20"] = prices["Class_binary_40_20"]

features1["return_40"] = prices["return_40"]

features1["Class_binary_20_20"] = prices["Class_binary_20_20"]

features1["return_20"] = prices["return_20"]

features1["Class_binary_10_20"] = prices["Class_binary_10_20"]

features1["return_10"] = prices["return_10"]

features1["Class_binary_5_20"] = prices["Class_binary_5_20"]

features1["return_5"] = prices["return_5"]

features1["Class_binary_80_20"] = prices["Class_binary_80_20"]

features1["return_80"] = prices["return_80"]

In [39]:
features1.to_pickle("training_sets/features1")

In [40]:
del features1

In [43]:
Date2 = np.load("training_sets/Date2.npy", allow_pickle = True)

In [44]:
features2 = pd.read_pickle("training_sets/features2")

features2 = features2.reset_index().set_index(["Date"])

print(np.sum(Date2 != np.unique(features2.index)))

features2 = features2.loc[np.unique(features2.index)].reset_index().set_index(["Date", "Ticker"])

In [ ]:
features2["Class_binary_40_20"] = prices["Class_binary_40_20"]

features2["return_40"] = prices["return_40"]

features2["Class_binary_20_20"] = prices["Class_binary_20_20"]

features2["return_20"] = prices["return_20"]

features2["Class_binary_10_20"] = prices["Class_binary_10_20"]

features2["return_10"] = prices["return_10"]

features2["Class_binary_5_20"] = prices["Class_binary_5_20"]

features2["return_5"] = prices["return_5"]

features2["Class_binary_80_20"] = prices["Class_binary_80_20"]

features2["return_80"] = prices["return_80"]

In [46]:
features2.to_pickle("training_sets/features2")

In [47]:
del features2

In [48]:
Date3 = np.load("training_sets/Date3.npy", allow_pickle = True)

In [49]:
features3 = pd.read_pickle("training_sets/features3")

features3 = features3.reset_index().set_index(["Date"])

print(np.sum(Date3 != np.unique(features3.index)))

features3 = features3.loc[np.unique(features3.index)].reset_index().set_index(["Date", "Ticker"])

0

In [ ]:
features3["Class_binary_40_20"] = prices["Class_binary_40_20"]

features3["return_40"] = prices["return_40"]

features3["Class_binary_20_20"] = prices["Class_binary_20_20"]

features3["return_20"] = prices["return_20"]

features3["Class_binary_10_20"] = prices["Class_binary_10_20"]

features3["return_10"] = prices["return_10"]

features3["Class_binary_5_20"] = prices["Class_binary_5_20"]

features3["return_5"] = prices["return_5"]

features3["Class_binary_80_20"] = prices["Class_binary_80_20"]

features3["return_80"] = prices["return_80"]

In [50]:
features3.to_pickle("training_sets/features3")

In [51]:
del features3

In [52]:
val1 = pd.read_pickle("validation_sets/val1")
val2 = pd.read_pickle("validation_sets/val2")
val3 = pd.read_pickle("validation_sets/val3")

In [57]:
Date1 = np.load("validation_sets/Date1.npy", allow_pickle = True)
np.sum(Date1 != np.unique(val1.reset_index().set_index(["Date"]).index))

0

In [58]:
Date2 = np.load("validation_sets/Date2.npy", allow_pickle = True)
np.sum(Date2 != np.unique(val2.reset_index().set_index(["Date"]).index))

0

In [59]:
Date3 = np.load("validation_sets/Date3.npy", allow_pickle = True)
np.sum(Date3 != np.unique(val3.reset_index().set_index(["Date"]).index))

0

In [60]:
val1["Class_binary_40_20"] = prices["Class_binary_40_20"]
val1["return_40"] = prices["return_40"]

val1["Class_binary_20_20"] = prices["Class_binary_20_20"]

val1["return_20"] = prices["return_20"]

val1["Class_binary_10_20"] = prices["Class_binary_10_20"]

val1["return_10"] = prices["return_10"]

val1["Class_binary_5_20"] = prices["Class_binary_5_20"]

val1["return_5"] = prices["return_5"]

val1["Class_binary_80_20"] = prices["Class_binary_80_20"]

val1["return_80"] = prices["return_80"]

In [61]:
val2["Class_binary_40_20"] = prices["Class_binary_40_20"]
val2["return_40"] = prices["return_40"]

val2["Class_binary_20_20"] = prices["Class_binary_20_20"]

val2["return_20"] = prices["return_20"]

val2["Class_binary_10_20"] = prices["Class_binary_10_20"]

val2["return_10"] = prices["return_10"]

val2["Class_binary_5_20"] = prices["Class_binary_5_20"]

val2["return_5"] = prices["return_5"]

val2["Class_binary_80_20"] = prices["Class_binary_80_20"]

val2["return_80"] = prices["return_80"]

In [62]:
val3["Class_binary_40_20"] = prices["Class_binary_40_20"]
val3["return_40"] = prices["return_40"]

val3["Class_binary_20_20"] = prices["Class_binary_20_20"]

val3["return_20"] = prices["return_20"]

val3["Class_binary_10_20"] = prices["Class_binary_10_20"]

val3["return_10"] = prices["return_10"]

val3["Class_binary_5_20"] = prices["Class_binary_5_20"]

val3["return_5"] = prices["return_5"]

val3["Class_binary_80_20"] = prices["Class_binary_80_20"]

val3["return_80"] = prices["return_80"]

In [63]:
val1.to_pickle("validation_sets/val1")
val2.to_pickle("validation_sets/val2")
val3.to_pickle("validation_sets/val3")